.default-button {
  &.css-1kgdfgg-MuiButtonBase-root-MuiButton-root {
    font-family: $fontBold;
    font-size: 14px;
    width: inherit;
    border-radius: 8px;
    text-transform: inherit;
    box-shadow: none;
    text-transform: capitalize;
  }
}
